*-bak
*.bak
*.zip
_autosave*
_autosave
*.old
*.g
*.orig
*.dsn
*.ses
Release
Debug
toolchain/x-tool
toolchain/crosstool-ng/BUILD
toolchain/crosstool-ng/.config
*-rescue.lib
*rescue-backup
gerbers_combined
