*-bak
*.bak
*.zip
_autosave*
_autosave
*.old
*.g
*.orig
*.dsn
*.ses
*.pyc
BUILD
Release
Debug
toolchain/x-tool
toolchain/crosstool-ng/BUILD
toolchain/crosstool-ng/.config
toolchain/gcc*
*-rescue.lib
*rescue-backup
gerbers_combined
toolchain/gcc*.bz2
